.hecha{
    color:green;
    text-decoration: line-through;
    
}
.tarea-borrada{
    color: red;
    text-decoration: underline;
}
.disposicion-tarea{
    display: flex;
    justify-content: space-between;
}